p{
color: brown;
font-family:'Times New Roman', Times, serif;
}
h1{
color: rgb(63, 211, 137);
font-family:Arial;
text-align: center;
}
#intro{
    color: blue;
    font-size: 50px;
}
#logo {
    width: 150px;
    border-radius:20px ;
}

.tipos{
    columns: red;
    font-weight:bold ;
}

a{  color: blue;
    text-decoration: none;
}

/* Color en columnas mediante elemento td */
table td {
    background-color: #ee8;
  }

  table td:nth-child(3) {
    background-color: #ee8;
  }

  /* Color en columnas mediante elemento col */

table colgroup col {
    background-color: red;
  }

  table colgroup col:nth-child(2) {
    background-color: red;
  }

/* Lineas y Bordes en Tablas */
table {
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
 }
 